/* CSS general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans NKo', sans-serif;
}

:root {
    --bg: #000000;
    --txt: #ffffff;
    --footer: #222222;
    --s_s: #4bc800;
    --bg_e_m: #4a4a4a;
    --e_m: #a62b1a;
}

body {
    background-color: var(--bg);
}

.grid {
    border: 2px solid white;
}

/* CSS header */

.container_header {
    width: 100%;
    height: 70px;
    position: relative;
}

.table {
    color: var(--txt);
    font-size: 10px;
    background-color: var(--bg_e_m);
    width: 20px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
}

.btn {
    background-color: var(--bg_e_m);
    position: absolute;
    top: 5px;
    right: 1.8rem;
    height: 22px;
    width: 6.5rem;
    font-size: 12px;
    border-radius: 4px;
}

.a_btn {
    color: var(--txt);
    text-decoration: none;
}

/*CSS main*/

.wrapper {
    max-width: 90rem;
    margin: 0 auto;
}

.box {
    width: calc(90rem / 7 - 4.5px);
    display: inline-block;
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4.4rem;
    height: 1.8rem;
    color: var(--txt);
    font-size: 11px;
    text-align: center;
    line-height: 1.8rem;
}

/*CSS footer*/

.container_footer {
    width: 100%;
    height: 70px;
    position: relative;
}